@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-family: "Inter", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.cadastro{
    margin: 0 auto;
    text-align: center;
}
.titulo{
    margin: 4rem;
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;

}
.titulo img{
    background: linear-gradient(to right, #2d17ba, #1e0f95);
    padding: 1rem;
    border-radius: 1rem;
}
.titulo p, .form-titulo p{
    padding-top: 0.5rem;
    color: #666;
}
.titulo h1,.form-titulo h2{
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #333333;
}

.form{
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px #cccccc;

}
.form-titulo{
    text-align: left;
    padding: 2rem;
}
.form{
    text-align: left;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 1rem;
}
#nome{
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem 0.5rem 0.5rem 45px;
    background-image: url(/image/do-utilizador.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-color: #f3f3f3;
    color: #ccc;
}

#email{
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem 0.5rem 0.5rem 45px;
    background-image: url(/image/e-mail.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-color: #f3f3f3;
    color: #ccc;
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
}

#senha{
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem 0.5rem 0.5rem 45px;
    background-image: url(/image/cadeado.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-color: #f3f3f3;
    color: #ccc;
}
label{
    font-weight: 600;
    
}

button{
    padding: 0.5rem;
    border: none;
    background-color: black;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;

}
.toast {
    visibility: hidden; /* Invisível por padrão */
    min-width: 250px;
    background-color: #4CAF50; /* Verde Sucesso */
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed; /* Fixado na tela */
    z-index: 1;
    right: 30px; /* Distância da direita */
    top: 30px;   /* Distância do topo */
    font-size: 17px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

/* Esta classe é adicionada pelo JS para mostrar o pop-up */
.toast.show {
    visibility: visible;
    /* Animação: Entra (0.5s) e Sai (0.5s) após esperar 2.5s */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animação de Entrada */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

/* Animação de Saída */
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.error{
    background-color: #d12b2b;
}