<% if (error && error.length > 0) { %>

    <div class="toast show error">
        <% error.forEach(erro => {%>
            <%= erro %> <br>
        <% }); %>
    </div>
<% } %>

<% if (success.length > 0 ) { %>
    <div class="toast show">
         <% success.forEach(succes => {%>
            <%= succes %> <br>
        <% }); %>
    </div>
<% } %>
