<% if (error && error.length > 0) { %>

    <div class="toast show"><%= error[0] %></div>
<% } %>

<% if (success && success.length > 0) { %>
    <div class="toast show"><%= success[0] %></div>
<% } %>
