<nav>
    <div class="logo">
    <img src="image/financaBranco.png" alt="" />
    <h1>FinanceApp</h1>
    </div>
    <div class="links">
    <a href="/"
        ><img src="image/painel-de-controle.png" alt="" />Dashboard</a
    >
    <a href="/transacoes"
        ><img src="image/troca.png" alt="" />Transações</a
    >
    </div>
    <div class="user">
        <a href="/user/<%= user.id %>"><img src="image/user.png" alt="" /><%= user.nome %></a>
    </div>
</nav>