<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Cria Conta | FinanceApp</title>
</head>
<body>
    <div class="cadastro">
        <div class="titulo">
            <img src="image/financaBranco.png" alt="">
            <h1>FinanceApp</h1>
            <p>Gerencie suas finanças com inteligência</p>
        </div>
        <%- include('includes/messages') %>
        <div class="form">
            <div class="form-titulo">
                <h2>Crie sua conta!</h2>
                <p>Preencha os campos abaixo para criar sua conta.</p>
            </div>
            <form action="/cadastro" method="post">

                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="seu nome" required>

                
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="seu@email.com" required>

                <label for="password">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="sua senha" required>
                
                <button>Criar conta</button>
            </form>
        </div>
    </div>
</body>
</html>