<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home | FinanceApp</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="image/financaBranco.png" alt="" />
        <h1>FinanceApp</h1>
      </div>
      <div class="links">
        <a href="home.html"
          ><img src="image/painel-de-controle.png" alt="" />Dashboard</a
        >
        <a href="transacoes.html"
          ><img src="image/troca.png" alt="" />Transações</a
        >
      </div>
      <div class="user">
        <a href="user.html"><img src="image/user.png" alt="" />Pedro Manoel</a>
      </div>
    </nav>
    <main>
      <h2>Dashboard</h2>
      <p>Bem-vindo de volta! Aqui está um resumo das suas finanças.</p>
      <div class="cards">
        <div class="card azul">
          <img src="image/carteira.png" alt="" />
          <p>Saldo Total</p>
          <h3>R$ <%= context.saldo %></h3>
        </div>
        <div class="card verde">
          <img src="image/subirBranco.png" alt="" />
          <p>Receitas</p>
          <h3>R$ <%= context.receitaMesAtual %></h3>
        </div>
        <div class="card vermelho">
          <img src="image/descer.png" alt="" />
          <p>Despesas</p>
          <h3>R$ <%= context.despesaMesAtual %></h3>
        </div>
      </div>
      <div class="acesso-rapido">
        <a href="" class="card-acesso azul">
          <img src="image/mais.png" alt="" />
          <div>
            <h3>Nova Transação</h3>
            <p>Acesso Rápido</p>
          </div>
        </a>
      </div>
      <div class="graficos">
        <div class="card-linha">
          <div class="header-linha">
            <div class="title-group-linha">
              <h2>Receitas vs Despesas</h2>
              <span>Últimos 6 meses</span>
            </div>
          </div>

          <div class="chart-container-linha">
            <canvas id="revenueExpenseChart-linha"></canvas>
          </div>

          <div class="chart-legend-linha">
            <div class="legend-item-linha">
              <span class="legend-dot-linha despesas-linha"></span>
              <span>Despesas</span>
            </div>
            <div class="legend-item-linha">
              <span class="legend-dot-linha receitas-linha"></span>
              <span>Receitas</span>
            </div>
          </div>
        </div>

        <div class="card-pizza">
          <div class="header-pizza">
            <div class="title-group-pizza">
              <h2>Despesas por Categoria</h2>
              <span>Este mês</span>
            </div>
          </div>

          <div class="chart-wrapper-pizza">
            <canvas id="expenseChart"></canvas>
          </div>

          <div id="legend-container" class="custom-legend-pizza"></div>
        </div>
      </div>
    </main>

    <script>
      // Armazena os dados do Back-end em variáveis globais ou em um objeto
      const {dados6meses, dadosCategoria} = JSON.parse('<%- JSON.stringify(context) %>');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="/js/graficoLinha.js"></script>
    <script src="/js/graficopizza.js"></script>
  </body>
</html>
