<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login | FinanceApp</title>
</head>
<body>
    <div class="login">
        <div class="titulo">
            <img src="image/financaBranco.png" alt="">
            <h1>FinanceApp</h1>
            <p>Gerencie suas finanças com inteligência</p>
        </div>
        <%- include('includes/messages') %>
        <div class="form">
            <div class="form-titulo">
                <h2>Bem-vindo de volta</h2>
                <p>Entre com suas credenciais para acessar sua conta</p>
            </div>

            <form action="/login" method="post">
                
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="seu@email.com" required>

                <label for="password">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="sua senha" required>
                
                <button>Entrar</button>
            </form>
            <p class="criar-conta">Não tem uma conta? <a href="/user">Criar conta</a></p>
        </div>
    </div>
</body>
</html>