<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/novaTransacão.css">
    <title>Login | FinanceApp</title>
</head>
<body>
    <div class="login">
        <div class="titulo">
            <img src="image/financaBranco.png" alt="">
            <h1>FinanceApp</h1>
            <p>Gerencie suas finanças com inteligência</p>
        </div>
        <div class="form">
            <div class="form-titulo">
                <h2>Nova Transação</h2>
                <p>Adicione uma nova receita ou despesa à sua conta</p>
            </div>
            <% if (typeof erros !== 'undefined' && erros) { %>
                <p><%= erros %></p>
            <% } %>
            <form method="POST" action="/transacao">
                
                <label for="valor">Valor </label>
                <input type="text" name="valor" id="valor" placeholder="0,00" required>

                <label for="receita-despesa" >Receita ou Despesa </label>
                <select id="receita-despesa" name="tipo"required>
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="Receita">Receita</option>
                    <option value="Despesa">Despesa</option>
                </select>

                <label for="categoria" >Categoria </label>
               <select id="categoria" name="categoria">
                    <% for (let i=0;i<categoria.length;i++) {%>
                    <option value="<%= categoria[i].nome %>"><%= categoria[i].nome %></option>
                    <% } %>
                </select>

                <label for="date">Data </label>
                <input type="date" name="data" id="date" placeholder="17/11/2025" required>
                
                <label for="descricao">Descrição </label>
                <input type="text" name="descricao" id="descricao" placeholder="Ex: Supermercado, Alugel, Salário..." required>
                <div class="botoes">
                    <a href="/" class="cancelar">Cancelar</a>
                    <button class="enviar">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>